@media only screen and (max-width: 1600px) {
  .ant-btn {
 

    border-color: #F0F4FF;
    height:300px; 
    width: 350px; 
    margin: 90px 10px; 
    position:relative;
    top: 30%; 
    left: 19%;
    font: normal 20px Arial;
    
    background: #F0F4FF;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
  
  
  }
  
  #menu {
    
    
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.25);
    height:520px; 
    margin: 45px 50px 50px 30px;
  }
  .img{
    height: 150px;
    width: 150px;
    padding-bottom: 2px;
    padding-right: 2px;
  }
}


#titulo{
  font: normal 40px Arial;
  text-align: center;

}

#sub-titulo{
  font: normal 25px Arial;
  text-align: center;

}

/*.App-header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(-10px + 2vmin);
  color: black;

  position: static;
  width: 100%;
  height: 100%;


  background-color: #ffff(247, 247, 247);
}
*/
